<div>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Address</th>
            <th>Gender</th>
            <th>Email</th>
        </tr>
        <tr>
            <td>{{Name}}</td>
            <td>{{Age}}</td>
            <td>{{address}}</td>
            <td>{{Gender}}</td>
            <td>{{email}}</td>
        </tr>
    </table>
</div>

<br/>
<button type="button" (click) = 'changePropertiesHandler()' >Change Properties</button>
<button type="button" (click) = 'passResult()' >Pass Result</button>